/* body {
	color: white;
	text-align: center;
} */

.nav {
	background-color: rgba(230, 230, 230, 0.7);
	position: fixed;
	top: 0;
	height: 10vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
	font-family: acumin-pro-wide, sans-serif;
	font-weight: 300;
	transform: translateY(-100%);
	transition: all 0.7s;
}
.nav a {
	text-decoration: none;
	color: black;
	padding: 2rem;
}

.menu-active {
	transform: translateY(0%);
}

.nav span {
	font-size: 20px;
	-webkit-transition: opacity 50ms ease-out;
	-moz-transition: opacity 50ms ease-out;
	-o-transition: opacity 50ms ease-out;
	transition: opacity 50ms ease-out;
}

.nav span:hover {
	opacity: 0.5;
	cursor: pointer;
}

.burger {
	display: block;
	position: fixed;
	top: 2vh;
	right: 2vh;
	z-index: 20;
	padding: 10px;
	border-radius: 3px;
	opacity: 0.9;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
}

.burger:hover {
	opacity: 0.6;
}

.burger-active {
	transform: rotate(180deg);
}

.line {
	display: block;
	background-color: hsla(0, 0%, 100%, 0.9);
	width: 30px;
	height: 4px;
	border-radius: 2px;
	margin: 5px 0;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
}

.line-active {
	background-color: black;
}

@media screen and (max-width: 600px) {
	.nav {
		flex-direction: column;
		align-content: space-around;
		height: 30vw;
	}
}

.landing {
	background-image: url('/images/scott-hewitt-yj8m3cl_wXo-unsplash.jpg');
	min-height: 100vh;
	width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	background-attachment: fixed;
}
.landingShadow {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(230, 230, 230, 0.2);
	height: 100vh;
	width: 100vw;
}
.titleContainer {
	-webkit-animation: fadeIn 1s;
	-moz-animation: fadeIn 1s;
	-o-animation: fadeIn 1s;
	animation: fadeIn 1s;
	display: grid;
	grid-template-rows: 2fr 1fr;
	background-image: url('/images/HENNA/Grey-6-full.jpg');
	height: 80vh;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: 90vw;
	border-radius: 5px;
}

.title {
	align-self: center;
	opacity: 0.9;
	font-family: 'Cormorant', serif;
	font-weight: 300;
	text-align: center;
}

.title h1 {
	color: white;
	padding: 1rem;
	font-size: 5rem;
	font-weight: 200;
	letter-spacing: 0.4rem;
	text-shadow: 0px 0px 3px black;
	-webkit-animation: fadeIn 1s ease-in;
	-moz-animation: fadeIn 1s ease-in;
	-o-animation: fadeIn 1s ease-in;
	animation: fadeIn 1s ease-in;
}

.title h3 {
	color: white;
	font-weight: 200;
	letter-spacing: 0.3rem;
	font-size: 1.5rem;
	text-shadow: 0px 0px 3px black;
	-webkit-animation: fadeIn 1s ease-in 0.3s;
	-moz-animation: fadeIn 1s ease-in 0.3s;
	-o-animation: fadeIn 1s ease-in 0.3s;
	animation: fadeIn 1s ease-in 0.3s;
	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	-o-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

.social {
	display: flex;
	justify-content: center;
	-webkit-animation: fadeIn 1s ease-in 0.6s;
	-moz-animation: fadeIn 1s ease-in 0.6s;
	-o-animation: fadeIn 1s ease-in 0.6s;
	animation: fadeIn 1s ease-in 0.6s;
	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	-o-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

@media screen and (max-width: 900px) {
	.titleContainer {
		background-size: cover;
	}
}

@media screen and (max-width: 600px) {
	.nav {
		height: 233px;
	}
	.title h1 {
		font-size: 10vw;
	}
	.title h3 {
		font-size: 5vw;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
